<html>
    <head>
        <title>Word Iteration Counter</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <body>
            <img src="images/bg.jpg" style='position:fixed;top:0px;left:0px;width:100%;height:100%;z-index:-1;'>
            <h1>WORD ITERATION COUNTER:</h1>
            <hr>
            <p>This program will tell you how many instances of a particular
                word appear in a particular block of text.</p>

            <p><strong>You searched for:</strong></p>
            <p></strong>  {{ data[0] }}</strong></p>
            <br>

            <p><strong>Iterations of "{{ data[0] }}" found:</strong></p>
            <p></strong>  {{ data[1] }}</strong></p>

            <br>
            <p><a class='btn btn-primary btn-lrg' href='/'
role='button'>Search Again</a></p>
        </div>

    </body>
</html>
