<html>
    <head>
        <title>Word Iteration Counter</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>WORD ITERATION COUNTER:</h1>
            <hr>
            <p>This program will tell you how many instances of a particular
                word appear in a particular block of text.</p>

            <p><strong>You searched for:</strong></p>
            <p></strong>  {{ data }}</strong></p>
            <br>

            <p><strong>Iterations of {{ data }} found:</strong></p>
            <p></strong>  {{ data }}</strong></p>

            <br>
            <p><a class='btn btn-primary btn-lrg' href='/'
role='button'>Search Again</a></p>
        </div>

    </body>
</html>
